@font-face {
    font-family: "ScheherazadeNew";
    src: url(../assets/iconfont/ScheherazadeNew-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NotoSansMono";
    src: url(../assets/iconfont/NotoSansMono.ttf);
}

* {
    font-family: "NotoSansMono";
}

$theme-red: #e74c3c;
$theme-white: #f1f1f1;