@font-face {
    font-family: "ScheherazadeNew";
    src: url(../assets/iconfont/ScheherazadeNew-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NotoSansMono";
    src: url(../assets/iconfont/NotoSansMono.ttf);
}

* {
    font-family: "NotoSansMono";
}

.fly-enter,
.fly-appear {
    opacity: 0;
    transform: translateX(-100%);
}

.fly-enter-active,
.fly-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: 0.3s;
}

.fly-exit {
    opacity: 1;
    transform: translateX(0);
}

.fly-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: 0.3s;
}

.mini-enter {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}

.mini-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.4s;
}

.mini-exit-active {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition: all 0.4s;
}

.normal-enter {
    opacity: 0;
    transform: translateY(100%);
}

.normal-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.4s;
}

.normal-exit {
    opacity: 1;
    transform: translateY(0);
}

.normal-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.4s;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

$theme-red: #e74c3c;
$theme-white: #f1f1f1;
$theme-gray: #ecf0f1;
