.header-wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 40px;
    background-color: transparent;
    z-index: 100;

    .header-back {
        position: fixed;
        top: 0;
        left: 0;
        color: white;
        padding: 10px;
        width: 40px;
        height: 40px;
    }

    .header-title {
        color: white;
        line-height: 20px;
        font-size: 20px;
    }

    .header-marquee {
        width: 100%;
        height: 100%;
        margin-left: 40px;
        overflow: hidden;
        position: relative;
        padding-top: 0;

        & > span {
            line-height: 40px;
            font-size: 20px;
            top: 0;
            color: white;
            position: absolute;
            animation: marquee 10s linear infinite;
        }
    }

    @keyframes marquee {
        from {
            left: 100%;
        }

        to {
            left: -100%;
        }
    }
}
