.progress-bar-wrapper {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #494b4f;

    .progress-bar-inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: $theme-red;

        .progress-bar-btn {
            position: absolute;
            top: -4.5px;
            right: -4.5px;
            width: 14px;
            height: 14px;
            background: $theme-red;
            border: solid 2px $theme-gray;
            border-radius: 50%;
        }
    }
}
